<!DOCTYPE html>
<html>
<head>
    <title>Employee Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="nav">
    <a href="/employee">Dashboard</a>
    <a href="/check">Check Email</a>
    <a href="/">Logout</a>
</div>

<div class="container">
    <h2>Employee Dashboard</h2>

    <p>✔ Check demo phishing emails sent by admin</p>
    <p>✔ Check any external or random email</p>
    <p>✔ All activities are recorded</p>
</div>

</body>
</html>
